*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

ul{
    list-style: none;
}

.active{
    font-weight: bold;
}

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}

.logo{
    position: absolute;
    top: 100px;
    right: 50%;

}

.nav-links{
    display: flex;
    align-items: center;
}

.nav-links li{
    margin: 0 30px;

}

header{
    width: 100vw;
    height: 100vh;
    background-image: url(/background/h_imgDS.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}



.header-content{
    margin-bottom:50px;
    color: whitesmoke;
    text-align: center;
}

.header-content h2{
    font-size: 4vmin;
}

.mouse-click{
    position: absolute;
    top: 500px;
    bottom: 50%;

}



.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}


a{
    text-decoration: none;
}

/* mobile device*/
@media only screen and (max-width: 850px){

.navbar{
    padding: 0;
}

.logo{
position: absolute;
top: 30px;
left: 30px;
}

.nav-links{
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
}
}

.About-Us{
    text-align: center;
    font-size: small;

}

.services{
    width: 100vw;
    height: 50vh;
    background-image: url(/background/s_imageDS.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-content{
    margin-bottom:50px;
    text-align: center;
}

.service-icons{
    margin-top: 10px;
    text-align: center;
    padding-right: 30px;
}

h2{
    margin-top: 50px;
    text-align: center;
}

.portfolio{
    align-items: center;
    margin-left: 100px;
}

.contacts{
    align-items: center;
    margin-left: 400px;
    background-image: url(/background/c_imageDS.jpg);
    margin-right: 200px;
}

h6{
    margin-top: 20px;
    text-align: center;
}